{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

  <div class="add-beer">

    <h1 class="text-center">Add a Beer</h1>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter the beer name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="type" placeholder="Enter the beer type" required>
      </div>
      <div class="form-group">
        <input type="number" step="0.1" class="form-control" id="abv" placeholder="Enter the beer abv" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

  </div>

  <br><hr>

  <div class="message-section">
    <p class="alert alert-info" role="alert" id="message"></p>
  </div>

  <div class="beer-section">
    <h2 class="text-center"></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>ABV</th>
        </tr>
      </thead>
      <tbody id="all-beers"></tbody>
    </table>
  </div>


  </div>

{% endblock %}
